/* #region common rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    /* primary */
    --clr-primary-danger:hsl(1, 90%, 64%);
    --clr-primary-soft:hsl(219, 85%, 26%);

    /* neutral */
    --clr-lighter:hsl(0, 0%, 100%);
    --clr-light-grayish-soft: hsl(210, 60%, 98%);
    --clr-light-grayish-shade: hsl(211, 68%, 94%);
    --clr-light-grayish:hsl(205, 33%, 90%);
    --clr-grayish-soft: hsl(219, 14%, 63%);
    --clr-dark-grayish-soft:hsl(219, 12%, 42%);
    --clr-darker:hsl(224, 21%, 14%);
    
    --fw-md:500;
    --fw-lg:800;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--clr-light-grayish);
    font-size: 0.875rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

img{
    max-width: 100%;
}
h1{
    font-size: 1.425rem;
}
/* #endregion common rules */

/* #region utilities */

.p_relative{
    position: relative;
}
.d_none{
    display: none;
}
/* #endregion utilities */

/*#region main */
.container{
    margin-top:1rem;
    margin-bottom:1rem;
    background-color: var(--clr-lighter);
    padding:1rem;
    max-width: 680px;
}
.notifications_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}
.page_title{
    display: flex;
    align-items: center;
    gap:0.75rem;
}
.cta{
    color:var(--clr-dark-grayish-soft);
}
.notifications_number{
    background-color: var(--clr-primary-soft);
    color:var(--clr-lighter);
    font-weight: var(--fw-md);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    width:30px;
    aspect-ratio: 1;
    font-size: 0.875rem;
}
.notifications{
    padding-top:1rem;
    padding-bottom:1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.notification{
    display: flex;
    gap:0.75rem;
    padding:0.75rem;
    border-radius: 1rem;
    max-height: 95px;
}
.unread.notification{
    background-color: var(--clr-light-grayish-soft); 
}
.content{
    color:var(--clr-dark-grayish-soft);
}
.user{
    max-width: 45px;
    flex-shrink: 0;
}
.user_name{
    color:var(--clr-darker);
    font-weight: var(--fw-lg);
}
.post_name{
    color:var(--clr-dark-grayish-soft);
    font-weight: var(--fw-lg);
}
.circle{
    display: inline-block;
    width:10px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--clr-primary-danger);
    margin-inline:0.375rem;
}
.time{
    color:var(--clr-grayish-soft);
}
.group_name{
    color:var(--clr-primary-soft);
    font-weight: var(--fw-lg); 
}
.message{
    border: 1px solid var(--clr-light-grayish);
    color:var(--clr-dark-grayish-soft);
    border-radius: 0.5rem;
    padding:1rem;
    margin-left:73px;
    margin-right:10px;
}
.square{
    max-width: 50px;
}
/* #endregion main */

/* hover effects */

.cta, .user_name, .post_name, .group_name, .message, .square :hover{
    cursor: pointer;
}

.user_name:hover{
    color:var(--clr-primary-soft);
}
.cta:hover{
    color:var(--clr-primary-soft);
}
.post_name:hover{
    color:var(--clr-primary-soft);
}
.message:hover{
    background-color: var(--clr-light-grayish-shade);
}

/* responsive */

@media screen and (min-width:768px) {
    .container{
        max-height: 760px;
        border-radius: 1rem;
    }

    .square{
        position: absolute;
        right: 10px;
    }    
}